/* mobile devices (max-width:576px) */

@media screen and (max-width: 576px) {
  .nav-container,
  .nav-item-container {
    flex-direction: column;
  }
  .logo-container img {
    margin-left: 170px;
  }
  .banner-container {
    flex-direction: column-reverse;
    align-items: center;
    justify-content: center;
  }
  .banner-item {
    padding-left: 0px;
    margin: 0 auto;
  }
}

/* tablet and medium devices */
