@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@700&family=Work+Sans:wght@400;500;600;700;800&display=swap");

* {
  box-sizing: border-box;
}

/* common shared styles */

body {
  font-family: "Work Sans", sans-serif;
}

.primary-color {
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* nav styles */

nav {
  background: #fff;
  box-shadow: 0px 4px 30px 0px rgba(0, 0, 0, 0.05);
}
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1920px;
  margin: 0 auto;
}

.logo-container {
  display: flex;
  width: 50%;
  justify-content: center;
  cursor: pointer;
}

.logo-container img {
  object-fit: contain;
  margin-right: 20px;
}

.logo-container p {
  font-size: 45px;
  font-weight: 700;
}
.nav-item-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  gap: 32px;
}
.nav-item-container a {
  text-decoration: none;
  color: #3c354f;
  font-size: 18px;
  font-weight: 500;
}
.follow-item {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  border-radius: 8px;
  background: rgba(11, 2, 35, 0.1);
  width: 262px;
  height: 56px;
}
.follow-item .fa-youtube {
  color: #f61c0d;
}

/* banner styles */

.banner-container {
  display: flex;
  justify-content: space-between;
  gap: 68px;
  width: 100%;
  margin: 0 auto;
}
.banner-item {
  width: 50%;
  padding-left: 240px;
  background-image: url("../images/Group\ 14.png");
  background-position: center;
}
.banner-img-container {
  width: 50%;
}
.banner-image{
  width: 100%;
}
.banner-heading {
  margin-top: 148px;
  color: #0b0223;
  font-size: 48px;
  font-weight: 600;
  text-transform: uppercase;
}
.second-heading {
  font-size: 95px;
  font-weight: 800;
  text-transform: uppercase;
  background: linear-gradient(180deg, #f948b2 0%, #8758f1 100%);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-top: 0;
  margin-bottom: 24px;
}
.banner-text {
  color: #534c64;
  font-size: 20px;
  font-weight: 500;
  text-transform: lowercase;
}
.first-btn {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 48px;
  background: var(--linear, linear-gradient(90deg, #ff42a5 0%, #ff42a5 100%));
  border: 0;
  margin-right: 24px;
  cursor: pointer;
}
.second-btn {
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  text-transform: uppercase;
  padding: 10px 20px;
  border-radius: 48px;
  background: #4ec5f7;
  border: 0;
  cursor: pointer;
}
